.curtain {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  height: 120px;
  background-image: linear-gradient(
    to bottom,
    #14161e 0%,
    #14161e 35%,
    rgba(20, 22, 30, 0.95) 41%,
    rgba(20, 22, 30, 0.83) 51%,
    rgba(20, 22, 30, 0.12) 89%,
    rgba(20, 22, 30, 0.03) 96%,
    rgba(20, 22, 30, 0) 100%
  );
}
