$color: #14161e;

.identity {
  position: fixed;
  height: 96px;
  width: 316px;
  top: 16px;
  left: 16px;
  z-index: 3;
}

#logo-mark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 96px;
  width: 96px;
  animation: spin 4.2s linear infinite;
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#logo-type {
  position: absolute;
  left: 96px;
  color: $color;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: bungee, sans-serif;
  font-weight: 800;
  font-style: normal;
  animation: move 8.2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(8px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(8px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
